.container {
  border: 5px solid black;
  display: flex;
}

/* .logout {
    margin-left: auto;
  } */
/* .about {
    margin-left: auto;
  } */

/* Only targeting the Home class how would you push the about and login to the right */

.home {
  margin-right: auto;
}
